<div class="boostrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3  ">
                <mat-card > 
                <div class="container text-center ">
                    <img src="https://f4.bcbits.com/img/0008176810_25.jpg" width="60" height="60" style="border-radius: 50%;" alt=""/>
                </div>

                <h1 class="text-center">Login</h1>

               <form class="padding-form" [formGroup]="loginForm" (submit)="login()">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input type="email" required formControlName="email" matInput placeholder="Username"/>
                        <mat-error *ngIf="f['email']!.errors?.['required']">This field is required</mat-error>
                        <mat-error *ngIf="f['email']!.errors?.['email']">Invalid email format</mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'"/>
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        <mat-error *ngIf="f['password']!.errors?.['required']">This field is required</mat-error>
                        
                    </mat-form-field>
                    <div class="container text-center mb10">
                        <button mat-raised-button color="accent" [disabled]="submitted || !loginForm.valid" type="submit">Login</button>
                        
                    </div>
                </form>
                    </mat-card>
            </div>
        </div>
    </div>
</div>