<mat-card>
  <mat-card-header >
    <mat-card-title style="margin-bottom: 23%;">Author List</mat-card-title>
  </mat-card-header>

  <mat-card-content style="height: max-content;">
    <div style="height: 2rem;;"></div>
  
<div style="height: 2rem;;"></div>

<div class="mat-elevation-z0">
  <div class="flex-content">
  <mat-form-field class="filter-column-align">
    <input matInput [formControl]="firstNameFilter" placeholder="Search first names">
  </mat-form-field>
  <mat-form-field class="filter-column-align">  
    <input matInput [formControl]="lastNameFilter" placeholder="Search last names">
  </mat-form-field>  

  <button class="push-right-b"  mat-mini-fab matTooltip="Add Author" color="primary" (click)="openAddAuthorDialog()"><mat-icon>add</mat-icon></button> 
</div>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
    <td mat-cell *matCellDef="let author"> {{author.firstName}} </td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
    <td mat-cell *matCellDef="let author"> {{author.lastName}} </td> 
  </ng-container>
  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let author"> 
      <button mat-icon-button matTooltip="Edit {{author.lastName}}" 
        color="basic" (click)="openEditAuthorDialog(author)" >
          <mat-icon>edit</mat-icon>
      </button> 
      <button mat-icon-button matTooltip="Delete {{author.lastName}}" 
      color="warn" [swal]="['Are you sure you want to delete?','You can\'t undo this action.', 'question']" (confirm)="deleteAuthor(author)" >
        <mat-icon>delete</mat-icon>    
    </button> 
    </td>    
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   
   <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data </td>
  </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  

 
</div>
  </mat-card-content>
  
</mat-card>
<div style="height: 2rem;"></div>




